@import "tailwindcss";
@import "../public/fonts/WEB/css/sentient.css";

@theme {
    --font-sans: "Sentient-Variable", "Sentient-Regular", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    --animate-marquee: marquee 30s linear infinite;
    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }
}

body {
    font-family: 'Sentient-Regular', sans-serif;
}